@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@800&family=Courgette&family=Roboto+Condensed&family=Rubik+Moonrocks&display=swap');

#profile_nav{
    display:flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    
}

#profile_nav a{
    color: #f1f2f3;
    font-size:1.5em;
    font-family:"Roboto Condensed", Helvetica, sans-serif;
    text-decoration:none;
    padding:50px;
}

#profile_nav a:hover{
    background-color: #00c7caf5;
    color:#01142c;
}

#side-menu a{
    display:block;
    color: #f1f2f3;
    font-size:1.2em;
    font-family:"Roboto Condensed", Helvetica, sans-serif;
    text-decoration:none;
    padding:10px;
}

#side-menu a:hover{
    background-color:#01142c;
    color:#f1f2f3;
}

#logo_link img{
    margin-left:40px;
    border-radius:40px;
}

header{
    display: grid;
    grid-template-columns: 25% auto;
    height: 130px;
    background-color: #01142ccd;
    align-items:center;
}

#home-banner{
    display:block;
    width:100%;
    margin:0 auto;
    height:660px;
    grid-column:1/6;
    grid-row: 1/4;
    z-index: -1;
}

#home-box{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
    grid-template-rows: 2fr 4fr 1fr;
    height:700px;
    margin-top: -120px;

}
#profile-pic{
    height:200px;
    border-radius:200px;
    border-width:10px;
    border:solid #396E94;
    margin-left:110px;
    margin-top: -70px;

}

#side-menu{
    display:block;
    grid-column:1/2;
    grid-row: 2/3;
    padding:20px;
    font-size:1.5em;
    justify-items:center;
    background: #007d88ce;
    color:#f1f2f3;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    z-index: 1;
    margin-left:100px;
}
#home-grid{
    color:white;
    width:100%;
    display: grid;
    grid-template-columns:repeat(8, 1fr) 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr repeat(3, 1fr);
}

#home-img{
    height:100%;
    width:100%;
    grid-column: 4/10;
    grid-row: 3/7;
}

#about-me{
    margin-top:-60px;
    background-color:#396E94 ;
    grid-column:1/5;
    grid-row:3/5;
}

#skills{
    background-color:#396E94 ;
    grid-column:1/5;
    grid-row:6/8;
}

#interest{
    margin-right: 30px;
    background-color:#396E94 ;
    grid-column:9/12;
    grid-row:6/8;
}

#home-background{
    margin-top:-40px;
    height: 100%;
    width:100%;
    grid-column:1/12;
    grid-row:1/11;
    z-index: -1;
}

footer{
    color: white;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    display:flex;
    height:120px;
    justify-content: space-around;
    align-items: center;
    margin-top: -160px;
    background-color:#01142ca2 ;
}

footer a{
    color:white;
    text-decoration:none;
}

#home-grid div{
    margin-left: 20px;
    font-size: 1.1em;
    padding:10px;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
}

h2{
    font-family:"Courgette", Georgia, serif;
}